<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../cic-contributor/element.html">
<link rel="import" href="../cic-utils/element.html">

<dom-module id="cic-contributors">
    <template>
        <cic-utils id="utils"></cic-utils>
        <template is="dom-repeat" items="{{contributors}}">
            <cic-contributor
                name="{{item.name}}"
                value="{{item.value}}"
                index="{{index}}"
                on-destroy="destroy"
                on-enter-press="add"
                class="contributor">
            </cic-contributor>
        </template>
    </template>
</dom-module>

<script src="script.js"></script>
