<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<dom-module id="cic-contributor">
    <style>
        :host {display: block}
        :host paper-input,
        :host paper-icon-button {display: inline-block}
        :host .short {width: 4em}
        :host .destroy {border-radius: 3px}
        :host .destroy:hover {
            background: rgba(255, 0, 0, .13);
        }
    </style>
    <template>
        <paper-input autofocus error-message="Invalid input" label="Contributor's Name" value="{{name}}"></paper-input>
        <paper-input type="number" error-message="Invalid input" label="Value" value="{{value}}" class="short"></paper-input>
        <paper-icon-button class="destroy" icon="clear" on-click="destroy"></paper-icon-button>
    </template>
</dom-module>

<script>
    Polymer({
        is: "cic-contributor",
        properties: {
            name: {
                type: String,
                value: 'Name',
                notify: true
            },
            value: {
                type: Number,
                value: 0,
                notify: true
            },
            index: { type: Number }
        },
        destroy: function(){ this.fire('destroy', this.index) }
    });
</script>
