<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="cic-contributor.html">
<link rel="import" href="cic-utils.html">

<dom-module id="cic-contributors">
    <template>
        <cic-utils id="utils"></cic-utils>
        <template is="dom-repeat" items="{{contributors}}">
            <cic-contributor
                name="{{item.name}}"
                value="{{item.value}}"
                index="{{index}}"
                on-destroy="destroy"
                class="contributor">
            </cic-contributor>
        </template>
    </template>
</dom-module>

<script>
    Polymer({
        is: "cic-contributors",
        properties: {
            contributors: {
                type: Array,
                value: function(){return []},
                notify: true
            }
        },
        destroy: function(e){
            var index = e.detail;
            this.splice('contributors', index, 1);
        },
        add: function(){
            this.push('contributors', this.$.utils.clone(this._emptyContributor));
        },
        _emptyContributor: {"name":"","value":0}
    });
</script>
