<link rel="import" href="../bower_components/paper-item/paper-item.html">

<dom-module id="cic-share">
    <template>
        <paper-item>
            Please share this if found it useful:
            <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="icon" data-yashareQuickServices=""></div>
        </paper-item>
    </template>
</dom-module>

<script>
    Polymer({
        is: "cic-share"
    });
</script>