<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<dom-module id="cic-contributor">

    <style>
        :host {
            display: block;
        }
        :host paper-input,
        :host paper-icon-button {
            display: inline-block;
        }
    </style>

    <template>

        <paper-input error-message="Invalid input" label="Contributor's Name" value="{{name}}"></paper-input>
        <paper-input error-message="Invalid input" label="How much money spent" value="{{value}}"></paper-input>
        <!--<paper-icon-button icon="clear" on-click="destroy"></paper-icon-button>-->

    </template>

</dom-module>

<script>
    Polymer({
        is: "cic-contributor",

        properties: {
            name: {
                type: String,
                value: 'Name',
                notify: true
            },
            value: {
                type: Number,
                value: 0,
                notify: true
            }
        },

        destroy: function(){
            // todo: remove an element from DOM
            // and remove an item from the contributors array
        }
    });
</script>