<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="cic-contributor.html">

<dom-module id="cic-contributors">

    <style></style>

    <template>

        <template is="dom-repeat" items="{{contributors}}">
            <cic-contributor name="{{item.name}}" value="{{item.value}}"></cic-contributor>
        </template>

    </template>

</dom-module>

<script>
    Polymer({

        is: "cic-contributors",

        properties: {
            contributors: {
                type: Array,
                value: function(){return []},
                notify: true
            }
        }

    });
</script>