<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../cic-donate/element.html">

<dom-module id="cic-footer">
    <link rel="import" type="css" href="style.css">
    <template>

        <div class="centered links">
            <a href="https://twitter.com/kashesandr">@kashesandr</a>
            <a href="javascript:;" on-click="_toggleDonation">donate</a>
            <a href="https://github.com/kashesandr/CIC">project on GitHub</a>
        </div>

        <cic-donate class="centered donation" hidden="{{isDonateHidden}}"></cic-donate>

    </template>
</dom-module>

<script src="script.js"></script>
