<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/i18n-msg/i18n-msg-behavior.html">

<dom-module id="cic-footer">
    <link rel="import" type="css" href="style.css">
    <template>

        <div class="centered links">
            <a href="https://github.com/kashesandr">@kashesandr</a>
            <a href="https://github.com/DataArt/chip-in-calculator">[[i18n.github]]</a>
        </div>

    </template>
</dom-module>

<script src="script.js"></script>
