<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">

<dom-module id="cic-contributor">
    <link rel="import" type="css" href="style.css">
    <template>
        <div class="centered">
            <paper-input
                id="name"
                type="text"
                error-message="Only text"
                label="Contributor's Name"
                value="{{name}}"
                on-keypress="_onKeyPress"
                on-focus="_onFocus"
                on-blur="_onBlur"
            >
            </paper-input>
            <paper-input
                id="value"
                type="number"
                error-message="Only numbers"
                label="Value"
                value="{{value}}"
                class="short"
                on-keypress="_onKeyPress"
                on-focus="_onFocus"
                on-blur="_onBlur"
            >
            </paper-input>
            <paper-icon-button class="destroy" icon="clear" on-click="destroy"></paper-icon-button>
        </div>
    </template>
</dom-module>

<script src="script.js"></script>
