<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">

<dom-module id="cic-contributor">
    <link rel="import" type="css" href="style.css">
    <template>
        <paper-input id="name" error-message="Invalid input" label="Contributor's Name" value="{{name}}"></paper-input>
        <paper-input id="value" type="number" error-message="Invalid input" label="Value" value="{{value}}" class="short"></paper-input>
        <paper-icon-button class="destroy" icon="clear" on-click="destroy"></paper-icon-button>
    </template>
</dom-module>

<script src="script.js"></script>
