<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">

<dom-module id="cic-contributor">
    <link rel="import" type="css" href="styles.css">
    <template>
        <paper-input id="name" error-message="Invalid input" label="Contributor's Name" value="{{name}}"></paper-input>
        <paper-input id="value" type="number" error-message="Invalid input" label="Value" value="{{value}}" class="short"></paper-input>
        <paper-icon-button class="destroy" icon="clear" on-click="destroy"></paper-icon-button>
    </template>
</dom-module>

<script>
    Polymer({
        is: "cic-contributor",
        properties: {
            name: {
                type: String,
                value: 'Name',
                notify: true
            },
            value: {
                type: Number,
                value: 0,
                notify: true
            },
            index: { type: Number }
        },
        destroy: function(){ this.fire('destroy', this.index) },
        ready: function(){
            // focus the name input when ready
            var element = this.$$('#name').$$('input');
            setTimeout(function(){
                element.focus()
            }, 0);
        }
    });
</script>
