<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="cic-donate">
    <template>
        <div class="horizontal layout centered">
            <paper-item>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="GTXUXKUJNEUA4">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </paper-item>
        </div>
        <div class="horizontal layout centered">
            <paper-item>
                <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/small.xml?account=410011409363409&quickpay=small&yamoney-payment-type=on&button-text=06&button-size=s&button-color=white&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%BA%D0%B0+%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B0+chip-in.me&default-sum=200&successURL=" width="146" height="31"></iframe>
            </paper-item>
        </div>
        <div class="horizontal layout centered">
        </div>
    </template>
</dom-module>

<script src="script.js"></script>
