<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<script src="script.js"></script>

<dom-module id="cic-analytics">
    <template>
        <paper-item>
            <!-- Yandex.Metrika counter -->
            <img src="https://mc.yandex.ru/watch/31513143" style="position:absolute; left:-9999px;" alt="" />
            <!-- Yandex.Metrika counter -->
        </paper-item>
    </template>
</dom-module>
