doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title WOW
        <!-- inject:css --> <!-- endinject -->
        script(src="../bower_components/webcomponentsjs/webcomponents.min.js")
        link(rel="import" href="elements/my-element.html")
    body
        my-element
        <!-- inject:js --> <!-- endinject -->